@import "../common.scss";


      
      .frames {
        color: #ffffff;
        background-color: $darkBlue;
        padding: 8px;
        height: 100%;
        >.breadcrumbs {
          height: 50px;
          line-height: 50px;
        }
        .allFrames {
          height: calc(100% - 50px);
          overflow-x: hidden;
          overflow-y: auto;
          padding-right: 8px;
        }
        .tab {
          margin-bottom: 8px;
          border-color: $veryLightPurple;
          border: 1px solid;
          padding: 10px;
          border-radius: 5px;
        }
        .window-frame {
          cursor: pointer;
          .link {
            display: none;
          }
          &:not(.unselectable) {
            .href:hover
             {
                .link {
                  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                  line-height: 20px;
                  display: inline-block;
                  position: absolute;
                  right: 8px;
                  background-color: purple;
                  color: $veryLightPurple;
                  border-radius: 5px;
                  padding-left: 8px;
                  padding-right: 8px;
                  height: 20px;
                  top: 8px;
                  text-decoration: none;

                } 

              }
          }
          background-color:$darkBlue;
          outline: none;
          .href {
            height: 36px;
            line-height: 36px;
            background-color: $veryLightPurple;
            overflow: hidden;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            border-color: $purple;
            border: 2px solid;
            border-bottom-width: 0px;
            padding-left: 10px;
            padding-right: 10px;
            color: #000000;
            position: relative;
          }
          border-radius: 8px;
          &.selected>div.stats {
            background-color: $frameHighlightColor;
          }
          >div.children {
              padding: 10px 0px 0px 20px;
              overflow-y: hidden;
              overflow-x: overlay;
              align-items: center;
              &:last-child{
                padding-bottom: 0px;
              }
            }
            >div.stats {
              padding-left: 10px;
              padding-right: 10px;
              line-height: 26px;
              display: flex;
              background-color: $backgroundGrey;
              color: $darkBlue;
              justify-content: space-between;
              border: 2px solid;
              border-color: $purple;
              border-top-width: 1px;
              border-bottom-right-radius: 5px ;
              border-bottom-left-radius: 5px ;
              .dead {
                color: #E51400;
                border-color: $purple;
                border-radius: 5px;
              }
            }
          
            .order-2 .stats{
              line-height: 19px;
            }
          
          &.order-0,&.order-1{
            >div>span.children-count{
              display: none;
            }
          }

          &:not(:last-child) {
            margin-bottom: 8px;
          }
        }

      }

      .messages, .listeners {
        overflow-x: hidden;
        overflow-y: scroll;
        max-height: calc(100% - 3.17em);
      }

      .listener,.message {
        cursor: pointer;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        height: 40px;
        
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        
        margin-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        width: calc(100% - 10px);
        border: 1px solid $purpleMedium;
        box-sizing: border-box;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        &.selected{
          background-color: $veryLightPurple;
          color: $frameHighlightColor;
          background: $veryLightPurple;
          border: 1px solid $purple;
          box-sizing: border-box;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          border-radius: 4px;
        }
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

      }

      .actions{
        border-left: 2px solid $darkBlue;
        height: 100%;
        width: 100%;
        padding: 10px;
        border-top: 1px solid $purpleMedium;
        .origins{
          .key-value{
            &.clickable {
              cursor: pointer;
            }
            margin-bottom: 4px;
            display: flex;
            .key {
              font-weight: bold;
              // width: 70px;
              font-size: 0.9em;
              margin-right: 8px;
              color: $purpleMedium;
            }
            
          }
          padding-bottom:  8px;
          max-width: calc(100% - 20px);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          .action {
            padding-top: 16px;
            border-bottom: 1px solid #C5A4F8;
            padding-bottom: 4px;
            margin-bottom: 4px;
            user-select: none;
          }
          .buttons{
            display: flex;
            
            flex-wrap: wrap;
            >div{
              cursor: pointer;
              border: 1px solid $purpleMedium;
              &:hover{
                background-color: $purpleMedium;
              }
       
              border-radius: 8px;
              flex-grow: 1;
              margin-right: 4px;
              margin-bottom: 4px;
              text-align: center;
       
              flex-grow: 0;
              padding: 4px 4px;
            }
        
          }
        }
      }