$padd: 0px;

.layout {
    margin: 0;
    padding-left: $padd;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    height: calc(100% - #{$padd});
    width: calc(100% - #{$padd});
    overflow: hidden;
    box-sizing: border-box;
    >div {
      display: block;
    }
    
      .block {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        .content {
          z-index: 1;
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
    }
  }